table.calystoSortableTable {
	tr:first-of-type {
		td, th {
			padding-right:10px;
			position: relative;
			text-align:left;

			&::after {
				position: absolute;
				right: 3px;
				color: white;
				content: "◊";
			}

			&.sortasc::after {
				content: "˄";
			}

			&.sortdesc::after {
				content: "˅";
			}
		}
	}
}
