<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Calysto.Elmah.SecuritySectionHandler, Calysto.Genesis.Web" />
			<section name="errorLog" requirePermission="false" type="Calysto.Elmah.ErrorLogSectionHandler, Calysto.Genesis.Web" />
			<section name="errorMail" requirePermission="false" type="Calysto.Elmah.ErrorMailSectionHandler, Calysto.Genesis.Web" />
			<section name="errorFilter" requirePermission="false" type="Calysto.Elmah.ErrorFilterSectionHandler, Calysto.Genesis.Web" />
			<section name="errorTweet" requirePermission="false" type="Calysto.Elmah.ErrorTweetSectionHandler, Calysto.Genesis.Web" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="ElmahUsername" value="aaaa" />
		<add key="ElmahPassword" value="ssss" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/charts/;" />
	</appSettings>
	<connectionStrings>
		<add name="dbFondoviConnectionString" connectionString="Data Source=.\mssql2017;Initial Catalog=dbFondovi;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dbFondoviConnectionString1" connectionString="Data Source=.\mssql2017;Initial Catalog=dbFondovi;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dbELMAH" connectionString="Data Source=.\mssql2017; Initial Catalog=dbELMAH;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="dbPoslovniRegistarConnectionString" connectionString="Data Source=.\mssql2017;Initial Catalog=dbPoslovniRegistar;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
	<system.web>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
		<securityPolicy>
			<trustLevel name="Full" policyFile="internal" />
		</securityPolicy>
		<!--<globalization uiCulture="en-US" culture="en-US"/>-->
		<globalization uiCulture="hr-HR" culture="hr-HR" />
		<!--<globalization uiCulture="da-DK" culture="da-DK"/>-->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<!-- u sekundama je executionTimeout -->
		<httpRuntime executionTimeout="3600" maxRequestLength="500000" targetFramework="4.5.1" />
		<!--500Mb-->
		<!--executionTimeout seconds, maxRequestLength kB-->
		<authentication mode="Windows" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="calysto" namespace="Calysto.Web.UI" assembly="Calysto.Genesis.Web" />
				<add tagPrefix="calysto" namespace="Calysto.Web.UI.WebControls" assembly="Calysto.Genesis.Web" />
				<add tagPrefix="calysto" namespace="Calysto.Web.Extensions" assembly="Calysto.Genesis.Web" />
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
			<namespaces>
				<add namespace="Calysto.Web.Forms.WebSite" />
			</namespaces>
		</pages>
	</system.web>
	<!--disable form validation in .net 4.0-->
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
			<!--<add name="ElmahAuth" type="Calysto.Elmah.Security.ElmahAuthenticationModule" preCondition="integratedMode"/>
      <add name="ErrorLog" type="Calysto.Elmah.ErrorLogModule, Calysto.Genesis.Web" preCondition="integratedMode"/>
      <add name="ErrorFilter" type="Calysto.Elmah.ErrorFilterModule, Calysto.Genesis.Web" preCondition="integratedMode"/>
      <add name="ErrorMail" type="Calysto.Elmah.ErrorMailModule, Calysto.Genesis.Web" preCondition="integratedMode"/>-->
			<remove name="Session" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule" />
		</modules>
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="CalystoHandler" path="*calysto-handler*" verb="*" type="Calysto.Web.Script.Services.WsjsHandlerFactory" preCondition="integratedMode" />
			<add name="CalystoStaticHandler" path="*~/*" verb="*" type="Calysto.Web.Script.Services.CalystoStaticFileHandler" preCondition="integratedMode" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="Elmah handler" path="/elmah.axd" verb="POST,GET,HEAD" type="Calysto.Elmah.ErrorLogPageFactory, Calysto.Genesis.Web" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="4096836983" />
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<elmah>
		<security allowRemoteAccess="1" />
		<errorLog type="Calysto.Elmah.SqlErrorLog, Calysto.Genesis.Web" connectionStringName="dbELMAH" />
		<errorFilter>
			<test>
				<or>
					<equal binding="HttpStatusCode" value="400" type="Int32" />
					<equal binding="HttpStatusCode" value="403" type="Int32" />
					<equal binding="HttpStatusCode" value="404" type="Int32" />
					<equal binding="HttpStatusCode" value="405" type="Int32" />
				</or>
			</test>
		</errorFilter>
	</elmah>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>