@import "../parts/common/functions.scss";
@import "../parts/Components/constants.scss";

$defaultThemeColor: fnGetMapValueSafe($mapColors, "calystoColorGreen");
$defaultThemeFamily: fnGetMapValueSafe($mapThemeFamilies, "Metro");
$defaultThemeMode: fnGetMapValueSafe($mapThemeModes, "Dark");

@import "../parts/PartsAll.scss";
