<div id="root111">
	<div calysto-binding-uid="mainRepeater" style="display:none">
		<div calysto-binding-uid="templateHeader">outer header</div>
		<div calysto-binding-uid="templateFooter">outer footer</div>
		<div calysto-binding-uid="templateNoData">outer no data</div>
		<div calysto-binding-uid="templateSeparator">outer separator</div>
		<div calysto-binding-uid="templateItem">
			<div calysto-binding-uid="divName" style="background:silver"></div>
			<div calysto-binding-uid="divIndex" style="background:silver"></div>
			<div calysto-binding-uid="repeater2" style="display:none">
				<div calysto-binding-uid="templ2Item">
					<div calysto-binding-uid="div2Item"></div>
					<input calysto-binding-uid="input1" type="text" />
					<input calysto-binding-uid="input2" type="text" />
					<input calysto-binding-uid="input3" type="text" />
					<input calysto-binding-uid="input4" type="text" />
					<input calysto-binding-uid="input5" type="text" />
				</div>
				<div calysto-binding-uid="templ2Separator">----------------------------</div>
				<div calysto-binding-uid="temp2Header">inner header</div>
				<div calysto-binding-uid="temp2Footer">inner footer</div>
				<div calysto-binding-uid="temp2NoData">nema podataka unutrasnji</div>
			</div>
		</div>
	</div>
</div>

<script src="~/CalystoUI/Binding2/Binding2.js" calysto-append-version="true"></script>
