@this.Calysto().ScriptManager(s =>
{
	s.RegisterScriptFile("~/CalystoUI/Notifications/Notifications.css");
	s.RegisterScriptFile("~/CalystoUI/Notifications/Notifications.js");
})
	<h3>Notifications</h3>
	<div class="div1" style="padding:10px;border:solid 5px silver;margin-bottom:10px;">

		<input type="button" class="calystoBtn" value="ShowNotification1" onclick="Notifications.ShowNotification1(this)" />
		<input type="button" class="calystoBtn" value="ShowNotification2" onclick="Notifications.ShowNotification2(this)" />
		<input type="button" class="calystoBtn" value="ShowNotification3" onclick="Notifications.ShowNotification3(this)" />
		<input type="button" class="calystoBtn" value="ShowNotification4" onclick="Notifications.ShowNotification4(this)" />
		<input type="button" class="calystoBtn" value="ShowNotification5" onclick="Notifications.ShowNotification5(this)" />
		<input type="button" class="calystoBtn" value="ShowNotification6" onclick="Notifications.ShowNotification6(this)" />
		<input type="button" class="calystoBtn" value="ShowNotification7" onclick="Notifications.ShowNotification7(this)" />

	</div>