@{
	ViewData["Title"] = "Checkboxes";
}
@this.Calysto().ScriptManager(s =>
{
	s.RegisterScriptFile("~/CalystoUI/Checkboxes/Checkboxes.css");
	s.RegisterScriptFile("~/CalystoUI/Checkboxes/Checkboxes.js");
})

<h1>Checkboxes</h1>
<div id="divControlsContainer">
</div>

